* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 3em;
    font-size: 1em;
    color: #333333;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #DBE0F9;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

h1 {
    color: #2937ff;
    font-style: italic;
}

.user {
    margin: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users {
    margin: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.users__buttons {
    width: 30%;
}

#table{
    min-width: 460px;
}

.users__table-header {
    background-color: #2937ff;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.users__table-body {
    font-size: 1em;
    background-color: #eee;
}

td, th {
    padding: 0.5em;
}

#users_btn,
#chat_btn,
#logout {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 0.5em;
    color: #ffffff;
    background-color: #2937ff;
    font-size: 1.5em;
    width: 6em;
    height: 2.3em;
    font-style: italic;
}

#name,
#email {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 0.5em;
    color: #ffffff;
    background-color: #2937ff;
    font-size: 1.5em;
    width: 6em;
    height: 2.3em;
    font-style: italic;
}
